.firstLayer {
  background-image: url("../assets/images/pics/Screenshot_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.secondLayer {
  background-size: 8em;
}
.thirdLayer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.729);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logopic {
  width: 28vw;
}
.aboutDiv p {
  color: #ffcd36;
  justify-self: center;
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em !important;
}
.bottomDiv {
  display: flex;
  color: #ffcd36;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.logoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoDiv p {
  color: #ffcd36;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
  margin-top: 3em;
}
.linkse {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 800;
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 0.3em;
}

@media (max-width: 750px) {
  .firstLayer {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: repeat;
  }
  .secondLayer {
    background-size: 5em;
  }

  .logopic {
    width: 55vw;
  }
  .aboutDiv p {
    margin-top: 2em !important;
  }
  .bottomDiv {
    margin-top: 3em;
  }

  .logoDiv p {
    color: #ffcd36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 900;
    margin-top: 3em;
  }
  .linkse {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 800;
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 0.3em;
  }
  .aboutDiv p {
    font-size: xx-small;
  }
}
