.allGall {
  background-image: url("../assets/images/pics/Screenshot_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.733);
}

.gallMiddle {
  position: absolute;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  top: 5em;
}
.gallery {
  color: #ffcd36;
  font-size: 1em;
  font-weight: 900;
}

span {
  font-weight: 900;
}

.sliderComp {
  display: flex;
  gap: 10vw;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  width: 70vw;
  height: 80vh;
}
.imgSlide {
  width: 20vw !important;
  object-fit: cover;
  border: 1px solid #ffcd36;
}
.arrowPrev {
  transform: rotate(180deg);
  padding: 1em;
  position: absolute;
  left: 10em;
  cursor: pointer;
}
.arrowNext {
  padding: 1em;
  position: absolute;
  right: 10em;
  cursor: pointer;
}
@media (max-width: 750px) {
  .allGall {
    background-image: url("../assets/images/pics/Screenshot_1.png");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
}
